  <div>
    <img style="float: left;" src="images/tc_left.gif" alt="" />
    <img style="float: right;" src="images/tc_right.gif" alt="" />
  </div>

  <ul class="header">
    <li><img src="images/logo.jpg" alt="Tango Sydney" /></li>
  </ul>

	<ul class="menu">
		<li class="menuItem"><a href="index.html">Home</a></li>
		<li class="menuItem"><a href="classes.html">Classes</a></li>
		<li class="menuItem"><a href="articles.html">Articles</a></li>
		<li class="menuItem"><a href="photos.html">Photos</a></li>
		<li class="menuItem"><a href="contact.html">Contact</a></li>
		<li class="menuItem"><a href="links.html">Links</a></li>
	</ul>
